# Generated meta data
**/.DS_Store

# Ignore Doxygen directory
evdk_doxygen*

# Ignore directories that are generated
evdk_workspace_mcuxpresso/**/Debug
evdk_workspace_mcuxpresso/**/Release
evdk_workspace_qt/build*

# Ignore user specific settings files
evdk_workspace_mcuxpresso/**/.settings
evdk_workspace_mcuxpresso/**/.default_mex
evdk_workspace_mcuxpresso/**/*.launch
evdk_workspace_mcuxpresso/**/*.jlink
evdk_workspace_qt/**/*.pro.user

evdk_operators/histogram_operations.c.autosave
evdk_workspace_mcuxpresso/frdmmcxn947_evdk5_0/.cproject
evdk_workspace_qt/evdk5_webcam/build/Desktop-Release/.qtc_clangd/.cache/clangd/index/errno.h.3F8ECD84FB880B64.idx
*.idx
/evdk_workspace_qt/evdk5_webcam
/evdk_workspace_qt/evdk5_webcam
/evdk_workspace_qt/evdk5_unit_test/build
